[Desktop Entry]
Categories=Game;LogicGame;
Encoding=UTF-8
Name=Closure
Exec=/home/infestator/opt/games/Closure/Closure/Closure.bin.x86_64
Icon=/home/infestator/opt/games/Closure/Closure/Closure.png
Type=Application
X-Desktop-File-Install-Version=0.20
